.Input{
    position: relative;
    margin-top: 15px;
    height: 50px;
}
.Input input{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 0 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid  #bebebe;
    margin-bottom: 10px;
}
.Input input:hover{
    border: 1px solid #000;
    transition: all 0.2s linear;
    cursor: pointer;
}
.Input .label{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    color: #696868;
    letter-spacing: 1px;
    pointer-events: none;
}
.Input label span{
    position: absolute;
    top: 18px;
    left: 10px;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    background: #fff;
}
.Input input:focus + .label span,
.Input input:valid + .label span{
    transform: translateY(-170%);
    font-size: 13px;
    color: #3f51b5;
}
.Input input:focus{
    border: 2px solid #3f51b5;
    cursor: text;
}
